*{
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: #f0f0f0;
    display: flex;
    padding: 30px 20px;
}
.container h2{
    font-size: 2em;
}
p {
    font-size: 10px;
    font-style: italic;
}

